[user]
name = lita
email = fireice47@gmail.com
[format]
	pretty = oneline
[log]
	abbrevCommit = true
[status]
	short = true
[core]
	excludesfile = /Users/lita/.gitignore_global
[init]
	defaultBranch = main
